.image-div {
  text-align: center;
}

.image-header {
  font-size: 50px
}

.image-instruction {
  font-size: 20px
}

.image-input {
  font-size: 20px
}

.image-button {
  font-size: 30px;
  margin: 10px
}